/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,300)

/* Variables */
$regular: 'Source Sans Pro', Calibri, Sans-Serif
$yellow: #FCFAE3
$light-pink: #FDE8E7
$blue: azure
$grey: #A8A8A8

.center
  width: 50%
  margin: 0 auto

a, a:link, a:link:active, a:visited
  text-decoration: none
  color: black
  font-weight: 700

a:hover
  text-decoration: underline
  color: black

a.a-press, a.a-press:focus, a.a-press:visited
  font-weight: 400

a.a-press:hover
  text-decoration: none
  color: $grey

*
  font-family: $regular
  text-align: center

button, .contact-text
  font-weight: 300

.about-description
  font-weight: 400

/* Smooth hover */
button:hover, .main-photo-1:hover, .main-photo-2:hover, img:hover, .a-press:hover, a:hover
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  -ms-transition: all 0.3s ease
  transition: all 0.3s ease

.row
  margin: 0

.main-header
  position: absolute

h1.title
  margin: 0	
  font-family: $regular
  text-transform: uppercase
  font-weight: 700
  font-style: italic
  margin: 1.1em 0 0 -0.4em
  -webkit-animation-delay: 0.7s
  -moz-animation-delay: 0.7s
  -o-transition: 0.7s
  animation-delay: 0.7s


h1.greeting
  margin: 0
  font-family: $regular
  text-transform: uppercase
  font-weight: 700
  font-size: 55px
  text-align: center

h1.title
  font-size: 90px
  margin: 0.2em 0 0 -0.4em 

p
  margin: 0
  text-align: center

button
  background-color: black
  color: white
  border: solid
  border-width: 2px
  border-color: black
  text-transform: uppercase
  font-family: $regular
  font-size: 0.9em
  letter-spacing: 2px

div.main-buttons
  margin-top: 2em

div.main-button
  margin: 0.4em 0

button.main-button
  padding: 0.4em
  width: 420px
  -webkit-animation-delay: 1s
  -moz-animation-delay: 1s
  -o-transition: 1s
  animation-delay: 1s

button:hover
  background-color: white
  color: black
  border-color: black
  border: solid
  border-width: 2px
  font-weight: 400

/* Main bit */
.photo-container-1, .main-photo-1
  margin: 0 auto
  display: block

.photo-container-2, .main-photo-2, .main-button
  margin: auto
  display: block

.photo-container-2
  margin-top: 2em

.main-photo-1
  background-image: url(../images/main_photo_1a_420.jpg)
  width: 420px
  height: 560px

.main-photo-1:hover
  background-image: url(../images/main_photo_1b_420.jpg)

.main-photo-2
  background-image: url(../images/main_photo_2a_420.jpg)
  width: 420px
  height: 280px

.main-photo-2:hover
  background-image: url(../images/main_photo_2b_420.jpg)

.main-container
  margin-top: 5em
  padding: 0 8em

.greeting
  text-decoration: underline

/* Tilt containers to right upwards */
.about-container, .links-header, .links-button-container
  -webkit-transform: skewY(-1.5deg)
  -moz-transform: skewY(-1.5deg)
  -ms-transform: skewY(-1.5deg)
  -o-transform: skewY(-1.5deg)
  transform: skewY(-1.5deg)

/* Tilt these containers to the right downwards */
.about-description, .links-container, .about-description
  -webkit-transform: skewY(1.5deg)
  -moz-transform: skewY(1.5deg)
  -ms-transform: skewY(1.5deg)
  -o-transform: skewY(1.5deg)
  transform: skewY(1.5deg)

/* about container */
.about-container
  margin: 16em auto 0em
  padding: 4em 0
  background-color: $yellow
  
  .greeting
    -webkit-transform: skewY(1.5deg)
    -moz-transform: skewY(1.5deg)
    -ms-transform: skewY(1.5deg)
    -o-transform: skewY(1.5deg)
    transform: skewY(1.5deg)

  .about-description
    padding: 2em 9em
    font-family: $regular
    letter-spacing: 2px
    transform: skewY(1.5deg)

    p
      font-size: 15px

/* Links container styles */
.links-container
  margin: 1em auto
  padding: 3em 0em 7.5em 0em
  background-color: $light-pink
  text-align: center

  a:hover
    text-decoration: none

  .greeting
    text-align: left
    padding-left: 2em

  .greeting, .links-button-container, .links-wrapper
    -webkit-transform: skewY(-1.5deg)
    -moz-transform: skewY(-1.5deg)
    -ms-transform: skewY(-1.5deg)
    -o-transform: skewY(-1.5deg)
    transform: skewY(-1.5deg)

  .links-wrapper
    margin: 2em 2em 0em

  .links-button-container 
    display: inline
    text-align: center

  button
    margin: 1em auto
    width: 190px
    padding: 0.5em

/* portfolio */
.portfolio-container 
  margin: 7em 0em 0em 0em
  padding: 9em 0em 4em 0em
  background-color: white
  height: auto

  .greeting
    text-align: right
    margin-right: 2em

  .portfolio 
    overflow-x: scroll
    overflow-y: hidden
    width: auto
    height: auto
    background-color: $blue 
    margin: 2em 0em
    padding: 2em
    text-align: center

  .portfolioImg 
    text-align: center
    padding-bottom: 5em

    img 
      width: auto
      height: 400px
      margin: 2em
      vertical-align: middle

    img:hover
      height: 420px

  button
    width: 171px
    text-align: center
    padding: 0.5em

/* projects */
.projects-container 
  margin: 9em auto
  background-color: white
  height: auto
  text-align: center

  .greeting
    text-align: left
    margin-left: 2em
    margin-bottom: 1em

  .projects
    //margin: 1em auto
    display: inline
    text-align: center

    a, a:hover
      text-decoration: none

    button
      text-align: center
      width: 480px
      height: 280px
      margin: 2em
      text-transform: none
      display: inline

    p, p:hover
      font-family: $regular
      //font-weight: 300
      text-align: center

    p.title
      font-size: 38px

    p.desc
      font-size: 18px

.contact-container 
  margin-top: 15em
  padding: 6em 1em
  background-color: black
  height: auto
  color: white
  text-align: center

  .contact-text
    padding: 1.5em 0em
    letter-spacing: 1px
    font-weight: 300

  .greeting
    color: white

  button
    background-color: transparent
    border-color: white
    border: solid
    border-width: 2px
    padding: 1em 5em

  button:hover
    background-color: white
    border-color: white
    border: solid
    border-width: 2px
    padding: 1em 5em

.copyright
  background-color: white
  padding: 0.5em

  p
    text-align: center


@media (min-width: 992px) and (max-width: 1200px)
  .main-container
    padding: 0 4.8em

  .projects-container
    .projects button
      width: 380px
      height: 220px

    .projects
      p.title
        font-size: 32px
      p.desc
        font-size: 15px

@media (min-width: 768px) and (max-width: 992px)
  h1.title
    font-size: 90px
    margin: 0.3em 0 0 1em

  .main-photo-1
    width: 420px
    height: 560px
  
  .main-photo-2
    width: 420px
    height: 280px
    margin-top: 2em
  
  .main-container
    padding: 0 5em
  
  button.main-button
    width: 420px

  .about-container
    margin: 10em 0

  .links-container .greeting
    text-align: left
    padding-left: 1em

  .projects-container
    .projects button
      width: 350px
      height: 250px
    
    .projects
      p.title
        font-size: 31px
      p.desc
        font-size: 15px


@media (max-width: 768px)

  h1.title
    font-size: 70px

  .main-photo-1
    width: 270px
    height: 410px

  .main-photo-1:hover
    background-image: url(../images/main_photo_1a_420.jpg)

  .main-photo-2
    width: 0px
    height: 0px

  .main-container
    padding: 0 2em

  button.main-button
    width: 260px

  .about-container
    margin: 7em auto

    .greeting
      font-size: 60px
  
    .about-description
      padding: 3em
      font-family: $regular
      letter-spacing: 2px
  
      p
        font-size: 15px
  
  .links-container
    
    .links-wrapper
      margin: 2em

    .button
      width: 150px
      margin: 0

    .greeting
      text-align: left
      padding: 0.5em
  
  .portfolio-container
    
    .greeting
      text-align: right
      margin-right: 0.5em

    .portfolioImg
      img
        width: 240px
        height: auto
        margin: 1em

      img:hover
        width: 240px
        height: auto

  .projects-container

    .greeting
      margin-left: 0.5em

    .projects button
      width: 300px
      height: 260px

    .projects
      p.title
        font-size: 26px
      p.desc
        font-size: 14px

  .contact-container
    button
      width: 260px
      padding: 1em 2em

@media (max-width: 400px)

  .projects-container
    
    .projects button
      width: 250px
      height: 260px

