<!--                            
///                  ///  ///                  ||||||  ||||||
///                  ///  ///                ||||||||||||||||||
///                  ///  ///              ||||||||||||||||||||||
/////////  ////////  ///  ///  ////////   |||||||||||||||||||||||
///   ///  ///  ///  ///  ///  ///  ///    ||||||||||||||||||||||
///   ///  ////////  ///  ///  ///  ///      ||||||||||||||||||
///   ///  ///       ///  ///  ///  ///         ||||||||||||
///   ///  ////////  ///  ///  ////////             ||||
-->
<!doctype html>
<html ng-app="myWebsiteApp">
	<head lang="en">
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I'm Dana Lee! I'm from the Philippines studying Computer Science at NYU (New York University). I love hackathons, coding, coffee, sleep, yoga, design, jokes, Beyonce, and food. I'm currently a Student Ambassador for Google, and I used to work at a startup called BeautyBooked. For Summer 2015, I'll be working at Adobe Behance. At NYU, I am part of Tech@NYU and Women in Computing. I love promoting ladiez in technology, and I'm working on being a better intersectional feminist. If you're reading this, we should be friends!!">
    <meta name="keywords" content="Dana Lee, Dana Lee NYU, Dana Lee CS, danagilliann, Dana Lee Computer Science, Dana Lee tech, Dana Lee engineer">
		<title>Dana Lee - coding + food</title>
		
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/animate.css">
	</head>

	<body ng-controller="MainController">
		<div class="main-container row">
		 <div class="photo-container-1 col-md-6 animated fadeInLeft">
           <div class="main-header"><h1 class="title animated fadeIn">{{ title }}</h1></div>
		   <div class="main-photo-1"></div>
		 </div>
		 <div class="photo-container-2 col-md-6">
		   <div class="main-photo-2 animated fadeInRight"></div>
		   <div class="main-buttons">
             <div class="main-button" ng-repeat="buttonGuide in buttonGuides">
               <button class="main-button animated fadeIn" id="{{ buttonGuide.id}}"><p>{{ buttonGuide.title }}</p></button>
             </div>
		   </div>
		 </div>
		</div>

    <div class="about-container row">
      <div class="hello-world"><h1 class="greeting">{{ aboutHead }}</h1></div>
      <div class="about-description">
        <p ng-bind-html="aboutDescription" class="anim-description"></p>
      </div>
    </div>

    <div class="links-container row">
      <div id="links-header">
        <h1 class="greeting">{{ linkHeader }}</h1>
      </div>
      <div class="links-wrapper">
        <div class="links-button-container" ng-repeat="linkLi in linkList">
         <a href="{{ linkLi.href }}">
           <button id="{{ linkLi.id }}" class="link-a"><p>{{ linkLi.title }}</p></button>
         </a>
        </div>
      </div>
    </div>

    <div class="portfolio-container row">
      <div id="portfolio-header"><h1 class="greeting">{{ portfolioHeader }}</h1></div>
      <div class="portfolio">
        <div class="portfolioImg">
          <a ng-repeat="tumblrImage in tumblrImages" href="{{ tumblrImage.href }}">
            <img class="tumblrImg" src="{{ tumblrImage.img }}"/>
          </a>
        </div>
        <a href="{{ viewLink }}"><button><p>{{ viewText }}</p></button></a>
      </div>
    </div>

    <div class="projects-container row">
      <div id="projects-header"><h1 class="greeting">{{ projectHeader }}</h1></div>
      <div class="projects" ng-repeat="proj in projects">
        <a href="{{ proj.href }}">
          <button class="proj-button">
            <p class="title">{{ proj.title }}</p>
            <p class="desc">{{ proj.desc }}</p>
          </button>
        </a>
      </div>
    </div>

    <div class="contact-container row">
      <div id="contact-header"><h1 class="greeting">{{ contactHeader }}</h1></div>
      <div class="contact-text">
        <p>
          {{ contactSubHeader }}
          <br>
          {{ contactDesc }}
        </p>
      </div>
      <a href="{{ contactEmailHref }}"><button id="contact-email"><p>{{ contactEmail }}</p></button></a>
      </div>
    </div>

    <div class="copyright row">
      <p>(c) 2015 Dana Lee. This website is (always) a work in progress and is made with <span class="glyphicon glyphicon-heart"></span></p>
    </div>


	</body>

  <!-- Scripts -->
  <!-- CDNs -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>		
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>

  <!-- JS files -->
  <script src="js/scopes.js"></script>
  <script src="js/animation.js"></script>

</html>

