@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,700italic,300);
.row {
  margin: 0;
}

.main-header {
  position: absolute;
}

h1.title {
  margin: 0;
  font-family: "Source Sans Pro", Calibri, Sans-Serif;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  margin: 1.1em 0 0 -0.4em;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -o-transition: 0.7s;
  animation-delay: 0.7s;
}

h1.greeting {
  margin: 0;
  font-family: "Source Sans Pro", Calibri, Sans-Serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 55px;
  text-align: center;
}

h1.title {
  font-size: 90px;
  margin: 0.2em 0 0 -0.4em;
}

p {
  margin: 0;
  text-align: center;
}

button {
  background-color: black;
  color: white;
  border: solid;
  border-width: 2px;
  border-color: black;
  text-transform: uppercase;
  font-family: "Source Sans Pro", Calibri, Sans-Serif;
  font-size: 0.9em;
  letter-spacing: 2px;
}

div.main-buttons {
  margin-top: 2em;
}

div.main-button {
  margin: 0.4em 0;
}

button.main-button {
  padding: 0.4em;
  width: 420px;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-transition: 1s;
  animation-delay: 1s;
}

button:hover {
  background-color: white;
  color: black;
  border-color: black;
  border: solid;
  border-width: 2px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.photo-container-1, .main-photo-1 {
  margin: 0 auto;
  display: block;
}

.photo-container-2, .main-photo-2, .main-button {
  margin: auto;
  display: block;
}

.photo-container-2 {
  margin-top: 1.5em;
}

.main-photo-1 {
  background-image: url(../images/main_photo_1a_420.jpg);
  width: 420px;
  height: 560px;
}

.main-photo-1:hover {
  background-image: url(../images/main_photo_1b_420.jpg);
}

.main-photo-2 {
  background-image: url(../images/main_photo_2a_420.jpg);
  width: 420px;
  height: 280px;
}

.main-photo-2:hover {
  background-image: url(../images/main_photo_2b_420.jpg);
}

.main-container {
  margin-top: 5em;
  padding: 0 8em;
}

.greeting {
  text-decoration: underline;
}

.about-container, .links-header, .links-button-container {
  -webkit-transform: skewY(-1.5deg);
  -moz-transform: skewY(-1.5deg);
  -ms-transform: skewY(-1.5deg);
  -o-transform: skewY(-1.5deg);
  transform: skewY(-1.5deg);
}

.about-description, .links-container, .about-description {
  -webkit-transform: skewY(1.5deg);
  -moz-transform: skewY(1.5deg);
  -ms-transform: skewY(1.5deg);
  -o-transform: skewY(1.5deg);
  transform: skewY(1.5deg);
}

.about-container {
  margin: 16em auto 0em;
  padding: 4em 0;
  background-color: #FCFAE3;
}

.about-container .greeting {
  -webkit-transform: skewY(1.5deg);
  -moz-transform: skewY(1.5deg);
  -ms-transform: skewY(1.5deg);
  -o-transform: skewY(1.5deg);
  transform: skewY(1.5deg);
}

.about-container .about-description {
  padding: 2em 9em;
  font-family: "Source Sans Pro", Calibri, Sans-Serif;
  letter-spacing: 2px;
  transform: skewY(1.5deg);
}

.about-container .about-description p {
  font-size: 15px;
}

.links-container {
  margin: 1em auto;
  padding: 3em 0em 7.5em 0em;
  background-color: #FDE8E7;
  text-align: center;
}

.links-container .greeting {
  text-align: left;
  padding-left: 2em;
}

.links-container .greeting, .links-container .links-button-container, .links-container .foo {
  -webkit-transform: skewY(-1.5deg);
  -moz-transform: skewY(-1.5deg);
  -ms-transform: skewY(-1.5deg);
  -o-transform: skewY(-1.5deg);
  transform: skewY(-1.5deg);
}

.links-container .links-button-container {
  margin-top: 1em;
  display: inline;
  text-align: center;
}

.links-container button {
  margin: 1em auto;
  width: 190px;
  padding: 0.5em;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .main-container {
    padding: 0 4.8em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  h1.title {
    font-size: 90px;
    margin: 0.3em 0 0 1em;
  }
  .main-photo-1 {
    width: 420px;
    height: 560px;
  }
  .main-photo-2 {
    width: 420px;
    height: 280px;
    margin-top: 2em;
  }
  .main-container {
    padding: 0 5em;
  }
  button.main-button {
    width: 420px;
  }
  .about-container {
    margin: 10em 0;
  }
}

@media (max-width: 768px) {
  h1.title {
    font-size: 70px;
  }
  .main-photo-1 {
    width: 320px;
    height: 460px;
  }
  .main-photo-1:hover {
    background-image: url(../images/main_photo_1a_420.jpg);
  }
  .main-photo-2 {
    width: 0px;
    height: 0px;
  }
  .main-container {
    padding: 0 2em;
  }
  button.main-button {
    width: 320px;
  }
  .about-container {
    margin: 7em auto;
  }
  .about-container .greeting {
    font-size: 60px;
  }
  .about-container .about-description {
    padding: 3em 5em;
    font-family: "Source Sans Pro", Calibri, Sans-Serif;
    letter-spacing: 2px;
  }
  .about-container .about-description p {
    font-size: 15px;
  }
}
